.App {
  text-align: center;

}

.nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px
}
.table{
  width: 80%;
  margin: 0 auto;
}

	.MuiButton-contained {
    color:#84CC16;
  }

@media print {
  @page {
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  .MuiBackdrop-root {
    display: none;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    /* height: 1000px;
    width: 700px;
    position: absolute;
    left: 500;
    top: 0; */
  }
}